body {
    font-family: 'Poppins', sans-serif;
}

.alert-container {
    
}

.callout-container {
    height: 100vh;

    background: url('../images/whiskey-glass.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}

.quotes-container {

}

.features-container {

}

.monthly-favorites-container {

}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Block Dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #bf491c;
}

.block-divider--orange {

}

.block-divider--small {

}

/* Jumbotrons */

.jumbotron .lead {
    margin: 25px 0;
    color: #eeeeee;
}

.jumbotron small {
    font-size: 75%;
    font-style: italic;
    color: #ffffff;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px
}

.btn--red {
    color: white;
    background-color: #bf491c;
    border-color: #bf491c;
}